.business-title{
    color: deepskyblue;
}
.count-section{
    background:linear-gradient(rgba(39, 37, 37, 0.767),rgba(36, 34, 34, 0.733)),  url('../../../../images/Banner/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    align-items: center;
    display: flex;
   
 
    
}
.counter-main-div{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.counter-div{
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    
}

.counter-div h1{
    color: deepskyblue;

}
